<%= form_with(model: [spot.parking_lot, spot]) do |form| %>
  <% if spot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
        <% spot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nearest_entrance, style: "display: block" %>
    <%= form.collection_select :entrance_id, @parking_lot.entrances.select(:id), :id, :id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
