<%= form_with(model: parking_lot) do |form| %>
  <% if parking_lot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(parking_lot.errors.count, "error") %> prohibited this parking_lot from being saved:</h2>

      <ul>
        <% parking_lot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :max_spots, style: "display: block" %>
    <%= form.number_field :max_spots %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
